/* Large View Styles */
@media (min-width: 769px) {
  header {
    padding: 1rem 2rem;
  }

  h2 {
    text-align: center;
  }

  header h1,
  header span {
    font-size: 2rem;
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 2rem;
  }

  .view-toggle {
    margin: 2rem 0;
  }

  .grid-view .member-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-view .member-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .list-view .member-card img {
    max-width: 100px;
    margin-right: 1rem;
  }

  /* Index */
  .hero img {
    max-width: 768px;
    margin: 0 auto;
    display: block;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
  }

  .weather-card {
    margin-top: 0;
  }

  /* Form and cards */
  .join-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    max-width: 1200px;
    margin: 2rem auto;
  }

  .membership-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Medal Animations */
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
  }

}